@mixin btnBurger {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: $pure-white;
	transition: width 0.3s;
}
// Ten mixin ma zmienną $imgBg dzięki które wystarczy podstawić zdjęcie w css i ono się automatycznie w te zmienne wpisuje.
@mixin bgImg($imgBg) {
	background-image: $blue-gradient, url($imgBg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

// mixin na pozycję tytułu kart
@mixin isladsCardStyle {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
}

//mixin dla formularza

@mixin contactForm {
	margin-bottom: 2em;
	padding: 0.6em 1.2em;
	border: none;
	border-radius: 8px;
	font-size: 1.6rem;
}
