@use './colors';
@use './components';
@use './mixin';

//reset css-------------------------------------------------------------------------

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; // Będę używał REMów dlatego ustawiam na 62.5% by czcionka się zmnijszała lub powiększała w pzypadku zmiany przez użytkownika wielkości liter.
	scroll-behavior: smooth; // Łagodne przewijanie.
}

//czcionki pobrane na serwer------------------------------------------------

@font-face {
	font-family: 'open_sansbold', 'sans-serif';
	src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
		url('../fonts/opensans-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap; // użytkownik zanim pobierze się mu nasza czcionka to wyświetli mu się na jego.
}

@font-face {
	font-family: 'open_sansregular', 'sans-serif';
	src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('../fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'dancing_script_otregular', 'sans-serif';
	src: url('../fonts/dancingscript-regular-webfont.woff2') format('woff2'),
		url('../fonts/dancingscript-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'open_sansregular', 'sans-serif';
	font-size: 1.6rem;
	background-color: red;
}

// Nawigacja-----------------------------------------

.burger-btn {
	position: fixed; //Element jest pozycjonowany względem okna przeglądarki.
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;
	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}
	&__bars,
	&__bars::after,
	&__bars::before {
		@include mixin.burgerBtn;
	}
	&__bars {
		width: 100%;
		&::after {
			top: 13px;
			width: 60%;
		}
		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}
